banners:
  - type: login
    banner: ^C
      ******************************************
      This is a private computer system and is
      for authorized use only. Users (authorized
      or unauthorized) have no explicit or
      implicit expectation of privacy.
      ******************************************^C
  - type: exec
    banner: ^C
      You have entered EXEC mode.
      All commands are logged and monitored. ^C